.adaptar {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	.adaptar {
    padding-left: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .footer-abajo {
    flex: 1 0 auto;
  }